<%- include('./includes/header') %>


  
  <div class="container-scroller">

              <!-- navbar -->
      <%- include('./includes/navbar') %>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
    
              <!-- sidebar -->
      <%- include('./includes/sidebar') %>

      <!-- content -->
      <div class="main-panel">
        <div class="content-wrapper">
          <h2 class="text-center" >Course Record</h2>
            <% if (course.length > 0) { %>
              <table class="table responsive">
                  <thead class="thead-dark col-2">
                    <tr>
                      <th>ID</th>
                      <th>Course Name</th>
                    </tr>
                  </thead>
              
                  <tbody> 
                  <% for (let cr of course) { %>
                    <tr>
                      <td><%= cr.id %></td>
                      <td><%= cr.course %></td>
                    </tr>
                  <% } %>
                  </tbody>
                </table>
              <% } else { %>
                  <div class="container">
                      <h1 style="color: red" >No Course Found!</h1>
                  </div>
              <% } %>
        </div>
      </div>
    </div>
  </div>

  <%- include('./includes/footer') %>
