<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link <%= path === '/admin/dashboard' ? 'active' : '' %>" href="/admin/dashboard">
          <i class="ti-shield menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link <%= path === '/admin/account' ? 'active' : '' %>" href="/admin/account">
          <i class="ti-user menu-icon"></i>
          <span class="menu-title">Admin</span>
        </a>
      </li>
      <li class="nav-item">
        <span class="nav-link <%= path === '/admin/register' ? 'active' : '' %>" href="/admin/register">
          <i class="ti-plus menu-icon"></i>
          <span class="menu-title"  style="cursor: pointer" data-toggle="modal" data-target="#createadmin">Create Admin</span>
        </span>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="ti-palette menu-icon"></i>
          <span class="menu-title">Course</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a  class="nav-link <%= path === '/admin/manage-course' ? 'active' : '' %>" href="/admin/manage-course"   data-toggle="modal" data-target="#exampleModal">Add Course</a></li>
            <li class="nav-item"> <a class="nav-link <%= path === '/admin/manage-course' ? 'active' : '' %>" href="/admin/manage-course">Manage Course</a></li>
          </ul>
        </div>
      </li>


      
      <li class="nav-item">
        <a class="nav-link <%= path === '/admin/question' ? 'active' : '' %>" href="/admin/question">
          <i class="ti-menu-alt menu-icon"></i>
          <span class="menu-title">Questions</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= path === '/admin/email' ? 'active' : '' %>" href="/admin/email">
          <i class="ti-email menu-icon"></i>
          <span class="menu-title">Email</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link <%= path === '/admin/student-files' ? 'active' : '' %>" href="/admin/student-files">
          <i class="ti-files menu-icon"></i>
          <span class="menu-title">Student Files</span>
        </a>
      </li>


    </ul>
  </nav>

<!-- Modal for Add COurse -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong class="modal-title" id="exampleModalLabel">Add Course</strong>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>