

<% if (stud.length > 0) { %>
<table class="table responsive">
    <thead class="thead-dark col-2">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Lastname</th>
        <th>Contact #</th>
        <th>Email</th>
        <th>Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody> 
    <% for (let student of stud) { %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.fname %></td>
        <td><%= student.lname %></td>
        <td><%= student.cnumber %></td>
        <td><%= student.email %></td>
        <td><%= student.date %></td>
        <td><%= student.status %></td>
        <!-- update specific student status -->
        <td>
          <form action="/admin/student-status" method="POST">
            <select name="status" class="form-control" >
                <option disabled style="color: green;"><%= student.status %></option>
                <option value="inactive">inactive</option>
                <option value="active">active</option>
            </select>
                        <!-- studentid -->
            <input id="date" type="date"name="date" placeholder="mm/dd/yyyy" value="<%= student.date %>"/>
            <input type="hidden" value="<%= student.id %>" name="studentId">
            <button type="submit" class="btn btn-success float-right mt-2">Update</button>
          </form>
        </td>
      </tr>
    <% } %>
    </tbody>
  </table>


<% } else { %>
    <div class="container">
        <h1 style="color: red" >No Student Found!</h1>
    </div>
<% } %>


